.payment-radio-group {
  display: flex;
  flex-direction: column;
  padding: 0.5em;

  .payment-option {
    margin: 0.5em;
  }

  .icon-payment {
    width: 3em;
    margin-right: 1em;
    margin-left: 1em;
  }
}

mat-dialog-actions {
  button {
    margin: 0.25em 0.25em 0.5em;
  }
}
