@import "variables";
@import "serveup-palette";

:host {
  padding: 0 0.5rem 0.5rem 0.5rem !important;

  @media only screen and (min-width: $size-sm) {
    padding: 0.5rem !important;
  }

  &:first-of-type {
    padding: 0.5rem !important;
  }

  .card {
    .card-body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .body-part {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;

        &.left {
          flex: 9;

          .card-title {
            margin: 0 !important;
          }

          .card-subtitle {
            margin-top: 0.5rem;
          }
        }

        &.right {
          flex: 3;
          color: $sup-c-primary;
          flex-wrap: nowrap;
          font-weight: bold;
          font-size: 1em;
          align-items: flex-end;

          .card-value-cust {
            color: $sup-c-primary;
          }
        }
      }
    }
  }
}
