<div class="card" [attr.mat-ripple]="showActions ? null : ''">
  <div class="card-body">
    <div class="body-part left">
      <div class="card-info-text">
        <h6 class="card-title">{{title}}</h6>
        <p *ngIf="info" class="card-subtitle">{{info}}</p>
      </div>
      <div *ngIf="showActions" class="actions-container">
        <ng-content></ng-content>
      </div>
    </div>
    <div *ngIf="value" class="body-part right">
      <p class="card-value-cust">{{value | currency:'EUR':true:'1.2-2'}}</p>
    </div>
  </div>
</div>
