<app-list-layout>
  <ng-container class="header-left">
    <app-icon-button icon="back" [iconWidth]="'32px'"></app-icon-button>
  </ng-container>

  <ng-container class="header-title">
    Najdene restavracije
  </ng-container>
  <!--<ng-container class="header-subtitle">
    Ljubljana, Mehiška
  </ng-container>-->

  <app-restaurant-grid
    [restaurants]="restaurants"
    (rIdEmitter)="cardClicked($event)"
  ></app-restaurant-grid>
</app-list-layout>


<!--<div class="sup-header">
  <div>
    <button mat-button class="left"><-</button>
  </div>
  <div class="center">
    <h4 class="title">Rezultati iskanja</h4>
  </div>
  <div class="right"></div>
</div>

<app-restaurant-grid
  [restaurants]="restaurants"
  (rIdEmitter)="cardClicked($event)"
></app-restaurant-grid>-->
