<app-list-layout>
  <ng-container class="header-left">
    <app-icon-button icon="back"></app-icon-button>
  </ng-container>

  <ng-container class="header-title">
    Main Title
  </ng-container>
  <ng-container class="header-subtitle">
    Subtitle
  </ng-container>

  <ng-container class="header-right">
    <button mat-button>Right</button>
  </ng-container>

  <app-restaurant-grid
    [restaurants]="restaurants"
    (rIdEmitter)="cardClicked($event)"
  ></app-restaurant-grid>
</app-list-layout>


<!--<div class="sup-header">
  <div>
    <button mat-button class="left"><-</button>
  </div>
  <div class="center">
    <h4 class="title">Rezultati iskanja</h4>
  </div>
  <div class="right"></div>
</div>

<app-restaurant-grid
  [restaurants]="restaurants"
  (rIdEmitter)="cardClicked($event)"
></app-restaurant-grid>-->
