<!--<div *ngIf="authService.user$ | async; then authenticated else guest">
  &lt;!&ndash; template will replace this div &ndash;&gt;
</div>-->

<!-- User NOT logged in -->
<div>
  <h3>Hello GUEST</h3>
  <p>Login to get started...</p>

  <button mat-raised-button color="primary" (click)="gSignIn()">
    <i class="fa fa-google"></i> Sign in with Google
  </button>

</div>


<!--&lt;!&ndash; User logged in &ndash;&gt;
<ng-template #authenticated>
  <div *ngIf="authService.user$ | async as user">
    <h3>Hello {{ user.displayName }}</h3>
    <img  [src]="user.photoURL" alt="user profile photo">
    <p>UID: {{ user.uid }}</p>
    <button mat-raised-button color="warn" (click)="authService.signOut()">Logout</button>
    <button mat-raised-button color="primary" (click)="this.router.navigate(['/main']);">Main</button>
  </div>
</ng-template>-->
