@import "serveup-palette";
@import "animations";

#main-container-login {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .sup-logo {
    width: 10em;
  }

  .sup-title {
    font-size: 1.5em;
    color: $sup-c-primary;
  }

  .button-g-sign {
    img {
      height: 1.5em;
      margin-right: 1em;
    }
  }
}
