@import "serveup-palette";
@import "animations";

.container {
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: white;

  #main-container-login {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .sup-logo {
      width: 10em;
      margin-bottom:1em;
    }

    .sup-title {
      font-size: 1.5em;
      color: $sup-c-primary;
    }

    .button-g-sign {
      margin-top: 1em;
      img {
        height: 1.5em;
        margin-right: 1em;
      }
    }
  }
}
