@import "serveup-palette";
@import "animations";

:host {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: url("/assets/img/background.png");

  #main-container-login {
    padding: 4em;
    margin: 1em;
    border: $sup-border-light;
    border-radius: 0.5em;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .sup-logo {
      width: 10em;
      margin-bottom:1em;
    }

    .sup-title {
      font-size: 1.5em;
      color: $sup-c-primary;
    }

    .button-g-sign {
      padding: 0.5em 1.5em 0.5em 1.5em;
      margin-top: 1em;
      img {
        height: 1.5em;
        margin-right: 1em;
        &.img-disabled {
          filter: grayscale(100%);
        }
      }
    }
  }
}
