<script src="../../../auth/components/login/login.component.ts"></script>
<div id="main-container">
  <mat-tab-group mat-stretch-tabs headerPosition="below" id="main-tab-group">
    <mat-tab label="Domov">
      <p>Domov content</p>
    </mat-tab>
    <mat-tab label="Naročila">
      <p>Narocila Content</p>
    </mat-tab>
    <mat-tab label="Profil">
      <ng-template matTabContent>
        <app-profile (emSignOut)="gSignOut()" [user]="user"></app-profile>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
