<div *ngIf="user then mainContainer else loadingContainer"></div>

<ng-template #mainContainer >
<div id="main-container">
  <mat-toolbar id="top-nav" color="">
    <img src="../../../../assets/img/logo.png" alt="SU Logo" id="sup-logo">
    <p>ServeUp</p>
    <span id="toolbar-actions-left">
    <button mat-button (click)="changeTab(tabNames.Home)" [class.toolbar-tab-active]="currentTab == tabNames.Home">
      <span class="button-container">
        <app-icon [iconName]="'home'" id="icon-home-nav"></app-icon>
        <span>Home</span>
      </span>
    </button>
    <button mat-button (click)="changeTab(tabNames.Orders)" [class.toolbar-tab-active]="currentTab == tabNames.Orders">
      <span class="button-container">
        <app-icon [iconName]="'orders'" id="icon-orders-nav"></app-icon>
        <span>Orders</span>
      </span>
    </button>
  </span>
    <span class="toolbar-fill-remaining-space"></span>
    <span id="toolbar-actions-right">
    <button mat-button (click)="changeTab(tabNames.Profile)" [class.toolbar-tab-active]="currentTab == tabNames.Profile">
      <span class="button-container">
        <app-icon [iconName]="'profile'" id="icon-profile-nav"></app-icon>
        <span>Profile</span>
      </span>
    </button>
  </span>
  </mat-toolbar>
  <mat-tab-group [selectedIndex]="currentTab" mat-stretch-tabs headerPosition="below" id="main-tab-group">
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="label-container">
          <app-icon [iconName]="'home'" id="icon-home"></app-icon>
          <p>Home</p>
        </div>
      </ng-template>
      <p>Domov content</p>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="label-container">
          <app-icon [iconName]="'orders'" id="icon-orders"></app-icon>
          <p>Orders</p>
        </div>
      </ng-template>
      <p>Narocila Content</p>
    </mat-tab>
    <mat-tab >
      <ng-template mat-tab-label>
        <div class="label-container">
          <app-icon [iconName]="'profile'" id="icon-profile"></app-icon>
          <p>Profile</p>
        </div>
      </ng-template>
      <ng-template matTabContent>
        <app-profile (emSignOut)="gSignOut()" [user]="user"></app-profile>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
</ng-template>

<ng-template #loadingContainer >
<div id="main-container-loading">
  <img src="assets/img/logo.png" alt="ServeUp" class="sup-spin">
  <p>ServeUp</p>
</div>
</ng-template>
