<div *ngIf="user then mainContainer else loadingContainer"></div>

<ng-template #mainContainer >
  <div id="main-container">
    <mat-toolbar id="top-nav" color="">
      <div class="container" style="align-items: center">
        <img src="../../../../assets/img/logo.png" alt="SU Logo" id="sup-logo">
        <p style="color: white">ServeUp</p>

        <span id="toolbar-actions-left">
          <app-icon-button icon="search" text="Išči"
                           (click)="openSearchDialog()"
                           [class.toolbar-tab-active]="searchOpened"
          ></app-icon-button>

          <span class="vertical-div"></span>

          <app-icon-button icon="home" text="Domov"
                           [class.toolbar-tab-active]="currentTab == tabLinks.home"
                           (click)="changeTab(tabLinks.home)"
                           [routerLink]="['/main/home']"
          ></app-icon-button>
          <app-icon-button icon="orders" text="Naročila"
                           [class.toolbar-tab-active]="currentTab == tabLinks.orders"
                           (click)="changeTab(tabLinks.orders)"
                           [routerLink]="['/main/orders']"
          ></app-icon-button>
        </span>

        <span class="toolbar-fill-remaining-space"></span>

        <span id="toolbar-actions-right">
          <button mat-button [class.toolbar-tab-active]="currentTab == tabLinks.profile"
                  (click)="changeTab(tabLinks.profile)"
                  [routerLink]="['/main/profile']">
            <span class="profile-button-container">
              <span>{{user.displayName.split(' ')[0]}}</span>
              <img src="{{user.photoURL}}" alt="Profile">
            </span>
          </button>
        </span>
      </div>
    </mat-toolbar>

    <div class="content-container container" [@routerAnimation]="getRouteAnimation(router)">
      <router-outlet #router='outlet'></router-outlet>
    </div>
  </div>
</ng-template>

<ng-template #loadingContainer >
<div id="main-container-loading">
  <img src="assets/img/logo.png" alt="ServeUp" class="sup-a-spin">
  <p>ServeUp</p>
</div>
</ng-template>
