@import "variables";
@import "serveup-palette";
@import "animations";

#main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $sup-c-background;

  .content-container {
    height: 100%;
    width: 100%;
    padding: 0 !important;
    background: white;
    border-left: $sup-border-light;
    border-right: $sup-border-light;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    span {
      margin-left: 0.5em;
    }
  }

  .toolbar-tab-active {
    color: $sup-c-primary;
    fill: $sup-c-primary;
  }

  #toolbar-actions-left {
    margin-left: 1rem;
    display: flex;
  }

  #toolbar-actions-right {
    display: flex;
  }

  .toolbar-fill-remaining-space {
    flex: 1 1 auto;
  }

  #top-nav {
    background: darken($sup-c-primary, 20%);
    color: white;
    fill: white;
    display: none;

    #sup-logo {
      height: 30px;
      margin-right: 1rem;
      border-radius: 50%;
    }
  }
}

#main-container-loading {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;

  img {
    width: 10em;
  }

  p {
    color: $sup-c-primary;
    font-size: 1.5em;
  }
}

// Bigger screens
@media only screen and (min-width: $size-sm) {
  #top-nav {
    display: flex !important;

    .container {
      display: flex;
      flex-direction: row;
    }

    p {
      margin-bottom: 0;
    }
  }
}
