<app-list-layout *ngIf="(cartRestaurant$ | async) as restaurant else empty">
  <ng-container class="header-title">
    {{restaurant.name}}
  </ng-container>
  <ng-container class="header-subtitle">
    {{restaurant.street + ' ' + restaurant.houseNumber + ', ' + restaurant.city}}
  </ng-container>
    <app-restaurant-grid>
      <app-meal-card *ngFor="let meal of cartContent$ | async | keyvalue; trackBy: mealTrack"
                     [title]="meal.value.name"
                     [info]="meal.value.description"
                     [value]="meal.value.price * meal.value.quantity"
                     [id]="meal.value.id"
                     [showActions]="true"
      >
        <app-icon-button class="delete-button" icon="delete"
                         (click)="deleteItem(meal.value.id)"
        ></app-icon-button>
        <span class="vertical-div light"></span>
        <app-counter [quantity]="meal.value.quantity"
                     (updateQuantity)="updateQuantity(meal.value.id, $event)"
        ></app-counter>
      </app-meal-card>
    </app-restaurant-grid>

    <div class="cart-actions">
      <div id="total-text">Skupaj: <span class="sup-text-primary">{{totalPrice$ | async | currency:'EUR':true:'1.2-2'}}</span></div>
      <div id="arrival-counter">Prihod čez <app-counter [quantity]="30" [min]="30" [change]="10"></app-counter> minut.</div>
      <div class="button-container">
        <button id="more-button" mat-stroked-button color="accent" [routerLink]="'/main/meals/' + restaurant.id">Dodaj jedi</button>
        <button id="order-button" mat-stroked-button color="primary" (click)="openPaymentDialog()">Naroči</button>
      </div>
    </div>
</app-list-layout>

<ng-template #empty>
  <div id="cart-empty">
    <p>Košarica je prazna.</p>
    <button mat-button color="accent" [routerLink]="'/main/home'">Dodaj jedi</button>
  </div>
</ng-template>

<ng-template #loading>
  <app-loading>Košarico</app-loading>
</ng-template>
