<app-list-layout *ngIf="(cartRestaurant$ | async) as restaurant else empty">
  <ng-container class="header-title">
    {{restaurant.name}}
  </ng-container>
  <ng-container class="header-subtitle">
    {{restaurant.street + ' ' + restaurant.houseNumber + ', ' + restaurant.city}}
  </ng-container>
    <app-restaurant-grid>
      <app-meal-card *ngFor="let meal of cartContent$ | async | keyvalue; trackBy: mealTrack"
                     [title]="meal.value.name"
                     [info]="meal.value.description"
                     [value]="meal.value.price * meal.value.quantity"
                     [id]="meal.value.id"
                     [showActions]="true"
      >
        <app-icon-button class="delete-button" icon="delete"
                         (click)="deleteItem(meal.value.id)"
        ></app-icon-button>
        <span class="vertical-div light"></span>
        <app-counter [quantity]="meal.value.quantity"
                     (updateQuantity)="updateQuantity(meal.value.id, $event)"
        ></app-counter>
      </app-meal-card>
    </app-restaurant-grid>

    <div class="cart-actions">
      <div id="total-text">Skupaj: <span class="sup-text-primary">{{totalPrice$ | async | number}} €</span></div>
      <div id="arrival-counter">Prihod čez <app-counter [quantity]="30" [min]="30" [change]="10"></app-counter> minut.</div>
      <button id="order-button" mat-flat-button color="primary">Naroči</button>
    </div>
</app-list-layout>

<ng-template #empty>
  <p>Košarica je prazna</p>
</ng-template>

<ng-template #loading>
  <app-loading>Košarico</app-loading>
</ng-template>
