@import "serveup-palette";
@import "variables";

:host {
  height: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  justify-content: space-between;
}

.back-button {
  align-self: flex-start;
}

.card {
  padding: 20px;
  width: 100%;
}

.button-amount {
  font-size: 2em;
  // color: $sup-c-primary;
}

.description {
  display: flex;

  @media only screen and (min-width: $size-sm) {

  }

  @media only screen and (min-width: $size-md) {
    max-width: 400px;
  }
}

.amount-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.priceText {
  font-weight: bold;
  text-align: center;

  & &h4 {
    color: $sup-c-primary;
  }

  &.center {
    text-align: center;
  }
}

.amountText {
  text-align: center;
  width: 3.5em;
  border: $sup-border-light;
  padding: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 0.3em;
  font-weight: bold;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  .priceText {
   color: $sup-c-primary;
    margin-left: 1em;
  }
}

mat-dialog-actions {
  justify-content: center;
  button {
    margin: 0.5em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.search-button {
  background: $sup-c-primary;
  color: white;
  fill: white;
  font-weight: bold;
  padding: 0.5em 2em;
  border-radius: 40px;

  ::ng-deep.mat-button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    span {
      padding-right: 0.5em;
    }
  }
}
