$sup-a-spin: sup-spin 2s infinite ease; // animation:
$sup-a-blink: sup-blink 1.5s infinite; // animation:

.sup-a-spin {
  animation: $sup-a-spin
}

.sup-a-blink {
  animation: $sup-a-blink;
}

@keyframes sup-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(1.1);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg) scale(1);
  }
}

@keyframes sup-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
