@import "serveup-theme";
@import "serveup-palette";
@import '~ngx-bar-rating/themes/br-default-theme';
@import "variables";
@import '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

$sup-c-text-default: $sup-c-black !default;
p, h6, h5, h4, h3, h2, h1 {
  color: $sup-c-text-default;
}

p {
  margin: 0;
  padding: 0;
}

button:focus {
  outline:0;
}

.mat-tab-body-wrapper{
  flex-grow: 1;
}

.no-padding {
  padding: 0 !important;
}

.vertical-div {
  border: 1px solid lighten($sup-c-black, 5%);
  border-radius: 1px;
  margin: 0.25em;
  min-height: 1.5em;

  &.light {
    border-color: darken($sup-c-background, 5%);
  }
}

// Rating bar color
.br-selected:after{color:$sup-c-primary !important;}

// Custom styling for dialogs
.sup-dialog {
  position: absolute !important;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: $sup-border-light;

  @media only screen and (min-width: $size-sm) {

  }

  @media only screen and (min-width: $size-md) {
    &.search {
      top: calc(60px);
      left: calc(50% - 200px);
      position: absolute !important;
      height: 550px;
      width: 400px;
    }

    &.checkin {
      position: absolute !important;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-height: 90vh !important;
      width: 90vw;
    }
  }

  @media only screen and (min-width: $size-lg) {
    &.search {
      left: calc(50% - 325px);
    }

    &.checkin {
      width: 80vw;
    }
  }

  @media only screen and (min-width: $size-xl) {
    &.search {
      left: calc(50% - 425px);
    }

    &.checkin {
      width: 55vw;
    }
  }
}

.cdk-overlay-dark-backdrop {
  background: none;
}
.sup-form-field {
  width: 100%;
}

// Scrollbar styling (chrome only)

@media only screen and (min-width: $size-md) {
  ::-webkit-scrollbar              {
    background: $sup-c-background;
    border-radius: 10px;
    width: 0.5em;
  }
  ::-webkit-scrollbar-button       {
    background: black;
    border-radius: 50%;
    display: none;
  }
  ::-webkit-scrollbar-track        {
    border-radius: 20px;
  }
  ::-webkit-scrollbar-track-piece  {
    background: $sup-c-background;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb        {
    background: darken($sup-c-background, 20%);
    border-radius: 20px;
  }
}



