@import "serveup-theme";
@import "serveup-palette";
@import '~ngx-bar-rating/themes/br-default-theme';
@import "variables";

// Custom changes to the bootstrap scss
/*$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
  xxxl: 1920px
);*/

@import '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

p {
  margin: 0;
  padding: 0;
}

button:focus {
  outline:0;
}

.mat-tab-body-wrapper{
  flex-grow: 1;
}

.no-padding {
  padding: 0 !important;
}

.vertical-div {
  border: 1px solid darken($sup-c-primary, 25%);
  margin: 0.25em;

}

// Rating bar color
.br-selected:after{color:$sup-c-primary !important;}

.sup-search-dialog {
  position: absolute !important;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  border: $sup-border-light;

  @media only screen and (min-width: $size-sm) {
    top: calc(60px);
    left: calc(50% - 200px);
    position: absolute !important;
    height: 550px;
    width: 400px;
  }

  @media only screen and (min-width: $size-md) {
    left: calc(50% - 200px);
  }

  @media only screen and (min-width: $size-lg) {
    left: calc(50% - 325px);
  }

  @media only screen and (min-width: $size-xl) {
    left: calc(50% - 425px);
  }
}

.cdk-overlay-dark-backdrop {
  background: none;
}
.sup-form-field {
  width: 100%;
}

// Scrollbar styling (chrome only)

::-webkit-scrollbar              {
  background: $sup-c-background;
  border-radius: 10px;
  width: 0.5em;
}
::-webkit-scrollbar-button       {
  background: black;
  border-radius: 50%;
  display: none;
}
::-webkit-scrollbar-track        {
  border-radius: 20px;
}
::-webkit-scrollbar-track-piece  {
  background: $sup-c-background;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb        {
  background: darken($sup-c-background, 20%);
  border-radius: 20px;
}
