@import "serveup-theme";
@import "serveup-palette";
@import "variables";
@import '~ngx-bar-rating/themes/br-default-theme';

// Custom changes to the bootstrap scss
$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

@import '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

.mat-tab-body-wrapper{
  flex-grow: 1;
}

// Rating bar color
.br-selected:after{color:$sup-c-primary !important;}
