@import "serveup-palette";

.search-button {
  background: $sup-c-primary;
  color: white;
  fill: white;
  font-weight: bold;
  padding: 0.5em 2em;
  border-radius: 40px;
  width: 100%;

  ::ng-deep.mat-button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 24px;

    span {
      padding-left: 0.5em;
    }
  }
}

.dialog-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-content {
  margin: 1em;
}

.dialog-title {
  width: 100%;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5em;
  position: relative;
  //left: -32px;

  .back-button {
    position: absolute;
    left: 1em;
  }
}
