@import "serveup-palette";

.scanner-container {
  //flex: 1;
  //display: flex;
  height: 100%;

  zxing-scanner {
    width: 100%;
    height: 100%;

    ::ng-deep video {
      // height: 100% !important;
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-top: $sup-border-light;

  .scan-button {
    background: $sup-c-primary;
    color: white;
    fill: white;
    font-weight: bold;
    padding: 0.5em 2em;
    border-radius: 40px;

    &[disabled] {
      background: $sup-c-warn;
      color: lightgray;
      fill: lightgray;
    }

    ::ng-deep.mat-button-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        padding-left: 0.5em;
      }
    }
  }
}

.qrNameContainer {
  max-height: 3em;
  z-index: 1;
  background: white;
  padding: 1em;
  display: flex;
  justify-content: center;
}
