<app-list-layout>
  <ng-container class="header-left">
    <app-icon-button class="back-button" (click)="dialogRef.close()" icon="close" [iconHeight]="'32px'"></app-icon-button>
  </ng-container>
  <ng-container class="header-title">
    Podatki o naročilu
  </ng-container>
  <ng-container class="header-subtitle">
    {{data.restaurantName}}
  </ng-container>

  <ng-container *ngIf="displayScanner then permissionCheck else itemList"></ng-container>

  <ng-template #permissionCheck>
    <div class="scanner-container" [hidden]="!currentDevice">
      <zxing-scanner [device]="currentDevice"
                     (permissionResponse)="onHasPermission($event)"
                     (deviceChange)="onDeviceSelectChange($event)"
                     (scanError)="onScanError($event)"
                     (scanSuccess)="onScanSuccess($event)"
                     (camerasFound)="onCamerasFound($event)"
                     (camerasNotFound)="onCamerasFound($event)"></zxing-scanner>
    </div>
    <ng-container *ngIf="hasPermission then gettingDevices else noPermission"></ng-container>
  </ng-template>

  <ng-template #noPermission>
    <app-error>Aplikacija potrebuje dovoljenje za dostop do kamere!</app-error>
  </ng-template>

  <ng-template #gettingDevices>
    <ng-container *ngIf="hasDevices === undefined then loadingDevices else deviceCheck"></ng-container>
  </ng-template>

  <ng-template #loadingDevices>
    <app-loading *ngIf="!currentDevice" [customText]="true">Pridobivam Kamero</app-loading>
  </ng-template>

  <ng-template #deviceCheck>
    <ng-container *ngIf="hasDevices then qrScanner else noDevices"></ng-container>
  </ng-template>

  <ng-template #noDevices>
    <app-error>Za skeniranje naročila potrebujete kamero.</app-error>
  </ng-template>

  <ng-template #qrScanner>
    <div class="qrNameContainer">
      <p *ngIf="!qrResultString">Skenirajte kodo mize</p>
      <p *ngIf="qrResultString"><span>{{qrResultString}}</span></p>
    </div>

    <div class="button-container scanner">
      <button (click)="closeScanner()" class="scan-button action-button" mat-flat-button color="accent">
        <app-icon iconName="close"></app-icon>
      </button>
      <button [disabled]="!qrResultString" (click)="submitQrCode()" class="scan-button" mat-flat-button color="primary">
        <app-icon [iconName]="'scan'"></app-icon>
        <span>Potrdi</span>
      </button>
      <button (click)="toggleDevice()" class="scan-button action-button" mat-flat-button color="accent">
        <app-icon iconName="flipCamera"></app-icon>
      </button>
    </div>
  </ng-template>

  <ng-template  #itemList>
    <app-restaurant-grid>
      <app-meal-card *ngFor="let item of data.items"
                     [title]="item.quantity + 'x ' + item.name"
                     [info]="item.description"
                     [value]="item.price * item.quantity"
                     [id]="item.id"
                     [showActions]="true"
      >
      </app-meal-card>
    </app-restaurant-grid>

    <div class="button-container" *ngIf="!data.checkedIn">
      <button (click)="openScanner()" class="scan-button" mat-flat-button color="primary">
        <app-icon [iconName]="'scan'"></app-icon>
        <span>Skeniraj naročilo</span>
      </button>
    </div>
  </ng-template>
</app-list-layout>
