@import "serveup-palette";

.button-container {
  display: flex;
  justify-content: center;
  padding: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-top: $sup-border-light;

  .scan-button {
    background: $sup-c-primary;
    color: white;
    fill: white;
    font-weight: bold;
    padding: 0.5em 2em;
    border-radius: 40px;

    ::ng-deep.mat-button-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        padding-left: 0.5em;
      }
    }
  }
}
