<app-list-layout>
  <ng-container class="header-left">
    <app-icon-button class="back-button" (click)="dialogRef.close()" icon="close" [iconHeight]="'32px'"></app-icon-button>
  </ng-container>
  <ng-container class="header-title">
    Podatki o naročilu
  </ng-container>
  <ng-container class="header-subtitle">
    {{data.restaurantName}}
  </ng-container>

  <app-restaurant-grid>
    <app-meal-card *ngFor="let item of data.items"
                   [title]="item.quantity + 'x ' + item.name"
                   [info]="item.description"
                   [value]="item.price * item.quantity"
                   [id]="item.id"
                   [showActions]="true"
    >
    </app-meal-card>
  </app-restaurant-grid>
  <div class="button-container">
    <button (click)="openScanner()" class="scan-button" mat-flat-button color="primary">
      <app-icon [iconName]="'scan'"></app-icon>
      <span>Skeniraj naročilo</span>
    </button>
  </div>
</app-list-layout>
