@import "serveup-palette";

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.tabs-content {
  height: 100%;
  overflow: hidden;
}

.tab-button {
  animation-duration: 300ms;
  animation-name: shrinkTab;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  flex: 1;
  color: black;
  fill: black;

  span {
    margin: 0;
    font-size: 0.8rem;
  }
}

.tab-active {
  animation-duration: 300ms;
  animation-name: expandTab;
  flex: 2;
  color: $sup-c-primary;
  fill: $sup-c-primary;
}

.tab-nav-bar {
  height: 64px;
  display: flex;
  border-top: 1px solid gainsboro;
  z-index: 100;
  background: white;
}

@keyframes expandTab {
  from {
    flex: 1;
    color: black;
    fill: black;
  }
  to {
    flex: 2;
    color: $sup-c-primary;
    fill: $sup-c-primary;
  }
}

@keyframes shrinkTab {
  from {
    flex: 2;
    color: $sup-c-primary;
    fill: $sup-c-primary;
  }
  to {
    flex: 1;
    color: black;
    fill: black;
  }
}


@media only screen and (min-width: 600px) {

  .tab-nav-bar {
    display: none;
  }
}
