<div class="tabs-content" [@routerAnimation]="getRouteAnimation(router)">
  <router-outlet #router='outlet'></router-outlet>
</div>

<nav class="tab-nav-bar mat-elevation-z10">
  <a mat-ripple class="tab-button"
     [routerLink]="tabLinks.home"
     (click)="currentTab = tabLinks.home" [class.tab-active]="currentTab === tabLinks.home">
    <app-icon [iconName]="'home'" id="icon-home"></app-icon>
    <span>Domov</span>
  </a>

  <a mat-ripple class="tab-button"
     [routerLink]="tabLinks.orders"
     (click)="currentTab = tabLinks.orders" [class.tab-active]="currentTab === tabLinks.orders">
    <app-icon [iconName]="'orders'" id="icon-orders"></app-icon>
    <span>Naročila</span>
  </a>

  <a mat-ripple class="tab-button"
     [routerLink]="tabLinks.cart"
     (click)="currentTab = tabLinks.cart" [class.tab-active]="currentTab === tabLinks.cart">
    <app-icon [iconName]="'cart'" id="icon-cart"></app-icon>
    <span>Košarica</span>
  </a>

  <a mat-ripple class="tab-button"
     [routerLink]="tabLinks.profile"
     (click)="currentTab = tabLinks.profile" [class.tab-active]="currentTab === tabLinks.profile">
    <app-icon [iconName]="'profile'" id="icon-profile"></app-icon>
    <span>Profil</span>
  </a>
</nav>

