:host {
  display: inline-flex;

  .sup-icon-button {
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 1;
    min-width: auto;
    padding-left: 1em;
    padding-right: 1em;

    .icon-button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      // font-size: 1rem;

      span {
        margin-left: 0.5em;
      }
    }
  }
}
