<div class="dialog-title" mat-dialog-title>
  <h4>{{data.name}}</h4>
  <h4 class="priceText">{{totalPrice | number:'1.1-2'}} €</h4>
</div>

<mat-dialog-content>
  <div class="description">
    <p>{{data.description}}</p>
  </div>
  <br>
  <div class="amount-container">
    <button class="button-amount" mat-button
            [disabled]="quantity <= 1"
            (click)="changeQuantity(-1)"
    >-</button>
    <span class="amountText">{{quantity}}</span>
    <button class="button-amount"
            mat-button (click)="changeQuantity(+1)"
    >+</button>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button color="warn" mat-dialog-close>Zapri</button>
  <button mat-stroked-button color="primary" (click)="addToCart()">V košarico</button>
</mat-dialog-actions>
