@import "serveup-palette";
@import "variables";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  mat-tab-group {
    //height: 100%;
    overflow: hidden;
    flex: 1;
  }

  .cart-overview {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    height: 60px;
    background: $sup-c-black;
    align-items: center;
    justify-content: space-between;

    @media only screen and (min-width: $size-md) {
      display: none;
    }

    p {
      font-weight: bold;
      color: white;

      &.total-price {
        color: $sup-c-accent;
        font-size: 1.2em;
      }
    }
  }

  ::ng-deep.mat-tab-label-container {
    display: none;
  }
}
