<!--<mat-card class="home-card-container">
  <mat-card-title-group>
    <img mat-card-lg-image src="data:image/png;base64,{{restaurant.image}}" alt="Restaurant image">
    <div class="home-card-info">
      <mat-card-title>{{restaurant.name}}</mat-card-title>
      <mat-card-subtitle>{{restaurant.type}}</mat-card-subtitle>
    </div>
  </mat-card-title-group>
</mat-card>-->

<div class="container">
  <div class="row">
    <div class="col-6 col-sm-12 no-padding">
      <img class="card-img" src="data:image/png;base64,{{restaurant.image}}" alt="Restaurant image">
    </div>
    <div class="col-6 col-sm-12 no-padding">
      <div class="card-body">
        <h5 class="card-title">{{restaurant.name}}</h5>
        <p class="card-subtitle text-muted">{{restaurant.type}}</p>
        <bar-rating [(rate)]="restaurant.rating" [max]="5" [readOnly]="true"></bar-rating>
      </div>
    </div>
  </div>
</div>
