<div class="header" *ngIf="displayHeader == true">
  <div class="side-header h-left">
    <ng-content select=".header-left"></ng-content>
  </div>

  <div class="header-center">
    <h4 class="header-title">
      <ng-content select=".header-title"></ng-content>
    </h4>
    <p class="header-subtitle text-muted">
      <ng-content select=".header-subtitle"></ng-content>
    </p>
  </div>

  <div class="side-header h-right">
    <ng-content select=".header-right"></ng-content>
  </div>
</div>

<div class="content">
  <ng-content></ng-content>
</div>
