@import "variables";
@import "serveup-palette";

:host {
  padding: 0 0.5rem 0.5rem 0.5rem !important;

  @media only screen and (min-width: $size-sm) {
    padding: 0.5rem !important;
  }

  &:first-of-type {
    padding: 0.5rem !important;
  }

  .card {
    .card-body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      .body-part {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;

        &.left {
          flex: 9;
          flex-direction: row;
          //align-content: stretch;
          flex-wrap: wrap;

          .card-info-text {
            flex: 2;
            .card-title {
              margin: 0 !important;
              font-weight: bold;
            }

            .card-subtitle {
              margin-top: 0.5rem;
            }
          }

          .actions-container {
            display: flex;
            width: 100%;
            margin-top: 1em;
            align-items: center;

            // Select direct child elements in ng-content
            &::ng-deep > * {
              margin-right: 1em;
            }

            @media only screen and (min-width: $size-md) {
              width: auto;
              margin-top: 0;
              margin-left: 1em;
              justify-content: center;
            }
          }
        }

        &.right {
          flex: 2;
          color: $sup-c-primary;
          flex-wrap: nowrap;
          font-weight: bold;
          font-size: 1em;
          align-items: flex-end;

          .card-value-cust {
            color: $sup-c-primary;
          }
        }
      }
    }
  }
}
