@import "serveup-palette";
@import "variables";

:host {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .search-bar {
    background: darken($sup-c-background, 10%);
    margin: 1em;
    padding: 1em;
    border-radius: 24px;
    display: flex;
    align-items: center;

    .search-text {
      cursor: pointer;
      margin-left: 1em;
    }
  }

  .sup-center-text {
    display: flex;
    justify-content: center;

    p {
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  #restaurant-list {
    flex: 1;
    margin-top: 1rem;
    overflow: auto;
    padding: 0;
  }
}
