<div mat-ripple class="search-bar" (click)="openSearchDialog()">
  <p class="search-text">Iskanje</p>
</div>

<div class="sup-center-text">
  <p>V bližini</p>
</div>

<ng-container *ngIf="loadingRestaurants; then loading else notLoading"></ng-container>

<ng-template #notLoading>
  <app-restaurant-grid>
    <ng-container>
      <app-home-card
        *ngFor="let restaurant of restaurants"
        [restaurant]="restaurant"
        (clickEmitter)="restaurantClicked($event)"
      ></app-home-card>
    </ng-container>
  </app-restaurant-grid>
</ng-template>

<ng-template #loading>
  <app-loading>Restavracije</app-loading>
</ng-template>

